<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">AYIRA  MARITIME Freight</h2>
        <h3 class="oe_slogan">Manage your vessels, certificates, costs, insurances and assignments</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="fleet_vessels.png" height="300">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Freight management made easy</h2>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="vessels_speed.png">
        </div>
        <div class="oe_span6">
            <p class='oe_mt32 text-justify'>
            You won't need any specialized tracking system for company vessels - with AYIRA  MARITIME's smart app, can keep a close eye on your fleet in a few simple clicks. Manage everything through our user-friendly administrative system - fuel log entries, costs and many other features necessary for the management of your company's vessels.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Manage leasing and all other certificates</h2>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Supervise all certificates for your vessels and receive a warning email when certificates reach their expiration date. Several visual tools are put in place to ensure that you'll remember to renew (or end) your certificate. Organize the services around the vessels and communicate with the qualified service providers; manage invoices and notes. Set up a vessel policy within your company, as well as an insurance policy in order to manage your fleet in the most efficient way. 
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="vessel_certificate_form.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Monitor all costs at once</h2>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="fleet_pie_chart.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Identify and trace the money spent by your company for each of the fleet vessels. Recurring costs of your certificates such as leasing and services certificates are automatically added to your accounting at the beginning of each period of the frequency specified in the certificates, while all other costs like fuel and repairs are automatically added to your report.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Analysis and reporting</h2>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Show all costs associated with a given vessel or with a type of service. Compare different types of costs (which vessels cost the most; which services have been performed on which vessels etc.) by using the reporting tool. Get really helpful insights about the effective return of each vessel in order to improve your fleet investments.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="fleet_graph.png">
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
